<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E-learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/favicon.png" rel="icon">
  <link href="../assets/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
 
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
 

  <!-- Template Main CSS File 
  <link href="assets/css/style.css" rel="stylesheet">  -->

  <!-- =======================================================
  * Template Name: BizLand - v1.2.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 



  <main id="main">

   

   


    

   


  

    <!-- ======= Feedback Section ======= -->
    <section id="login" class="contact">
        <div  class="container" data-aos="fade-up">
  
          
  
  
       
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
              
          
  
            <div  class="col-lg-6">
                <div class="section-title">
           
                    <h2>Login</h2>
           
                </div>
                
              <form id="form"  (ngSubmit)="onSubmit()"role="form" class="php-email-form">
              
                <div class="form-group">
                 
                  <input type="text" name="username" id="username" class="form-control" required
                                    minlength="4" [(ngModel)]="sysUser" placeholder="UserName" #username="ngModel" />
                                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

                                      <div *ngIf="username.errors.required">
                                          User name is required.
                                      </div>
                                      <div *ngIf="username.errors.minlength">
                                          Use username you used while sign up
                                      </div>
      
                                  </div>
                </div>
               
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control" required
                  [(ngModel)]="sysPass" placeholder="Password" minlength="6" #password = "ngModel" />
        
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be the same & 6 Characters long.
                    </div>

                </div>
                  </div>
              
                <div class="text-center"><button type="submit" (click)="loginvalidat(sysUser,sysPass)">Login</button></div>
                <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-10">
                    <a routerLink="forgotpassword">Forgot password</a>
              </div>
            </div>
                <hr/>
                <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-10">
                    <a routerLink="register">Click here to register</a>
                  </div>
                 </div>
               

              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    


  
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Mphasis</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Mphasis Ltd</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>